{% extends 'base.html.twig' %}

	{% block title %}NutriDiet - Ingrédients
	{% endblock %}

	{% block body %}
		<div class="container mt-4">
			{% if not ingredients.items is same as ([]) %}

				<h1>Mes ingrédients</h1>
				<a href="{{ path("ingredient.new") }}" class="btn btn-primary">Ajouter un ingrédient</a>
				<div class="count">
					{% for message in app.flashes('success') %}
						<div class="alert alert-success mt-4">
							{{ message }}
						</div>
					{% endfor %}
					<p>Nombre total d'ingrédients :{{ ingredients.getTotalItemCount }}</p>
				</div>
				<table class="table table-hover mt-4">
					<thead>
						<tr>
							<th scope="col">Numéro</th>
							<th scope="col">Nom</th>
							<th scope="col">Prix</th>
							<th scope="col">Date de création</th>
						</tr>
					</thead>
					<tbody>
						{% for ingredient in ingredients %}
							<tr class="table-primary">
								<th scope="row">{{ ingredient.id }}</th>
								<td>{{ ingredient.name }}</td>
								<td>{{ ingredient.price }}</td>
								<td>{{ ingredient.createdAt|date('d/m/Y') }}</td>
								<td><a href="https://127.0.0.1:8000/ingredient/edition/{{ ingredient.id }}" class="btn btn-primary btn-sm">Modifier l'ingrédient</a></td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
				<div class="navigation d-flex justify-content-center mt-4">
					{{ knp_pagination_render(ingredients) }}
				</div>
			{% else %}
				<h4>Il n'a pas d'ingrédients à afficher</h4>
			{% endif %}
		</div>
	{% endblock %}
