{% extends "base.html.twig" %}
	{% block body %}
		<div class="container">
			<h1 class="mt-4">Création d'un ingrédients</h1>
			{{ form_start(form) }}
			<div class="form-group mt-4">
				{{ form_label(form.name) }}
				{{ form_widget(form.name) }}
				<div class="form-error mt-4">
					{{ form_errors(form.name) }}
				</div>
			</div>

			<div class="form-group mt-4">
				{{ form_label(form.price) }}
				{{ form_widget(form.price) }}
				<div class="form-error mt-4">
					{{ form_errors(form.price) }}
				</div>
			</div>
			{{ form_end(form) }}
		</div>
	{% endblock %}
