{% extends 'base.html.twig' %}

	{% block title %}
		Nutridiet -
		{{ recipe.name }}
	{% endblock %}

	{% block body %}
		<div class="container">
			{% for message in app.flashes('success') %}
				<div class="alert alert-success mt-4">
					{{ message }}
				</div>
			{% endfor %}
			<h1 class="mt-4">{{ recipe.name }}</h1>
			<p class="mt-4">La moyenne de cette recette est de
				{{ recipe.average|number_format(2, '.', ',') }}
				/ 5</p>
			<span class="badge bg-primary">Créée le
				{{ recipe.createdAt|date('d/m/Y') }}</span>
			<div class="mt-4">
				{% if recipe.time %}
					<p>Temps (en minutes) :
						{{recipe.time}}</p>
				{% else %}
					<p>Temps non renseigné.</p>
				{% endif %}
			</div>
			<div class="mt-4">
				{% if recipe.nbPeople %}
					<p>Pour :
						{{recipe.nbPeople}}
						personnes</p>
				{% else %}
					<p>Nombres de personnes non renseigné.</p>
				{% endif %}
			</div>
			<div class="mt-4">
				{% if recipe.difficulty %}
					<p>Difficulté :{{recipe.difficulty}}/5</p>
				{% else %}
					<p>Difficulté non renseigné.</p>
				{% endif %}
			</div>
			<div class="mt-4">
				{% if recipe.price %}
					<p>Prix (en euros):{{recipe.price}}
						€</p>
				{% else %}
					<p>Prix non renseigné.</p>
				{% endif %}
			</div>

			<div class="mt-4">
				<p>Description de la recette :</p>
				{{ recipe.description|raw }}
			</div>
			<div class="mt-4">
				<p>Ingrédients de la recette :</p>
				{% for ingredient in recipe.ingredients %}
					<span class="badge bg-primary">
						{{ ingredient.name }}</span>
				{% endfor %}
			</div>
			<div class="mark mt-4">
				{{ form(form)}}
				</div>
			</div>
		{% endblock %}
